.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .pinned-message {
  background: #fff3cd;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #ffc107;
  font-weight: 500;
  text-align: center;
}
